.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: 0.3rem;
}

.copyright {
  font-size: x-small;
}

.bidpro-color,
.bidpro-color:hover {
  background-color: #83a4c4;
  color: white;
}

.retry-import-button {
  background-color: #77a6d0;
  color: white;
}

.secondary-bidtype-button {
  background-color: #93b3d0;
  color: white;
}

.importing {
  background-color: lightyellow;
}
