.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: 0.3rem;
}

.copyright {
  font-size: x-small;
}

.bidpro-color,
.bidpro-color:hover {
  background-color: #83a4c4;
  color: white;
}
